LEGAL_AI_DATA_DIR=data
LEGAL_AI_INFOLEG_MIN_INTERVAL_SECONDS=0.5
ANTHROPIC_API_KEY=
VOYAGE_API_KEY=
COHERE_API_KEY=
POSTGRES_USER=legal_ai
POSTGRES_PASSWORD=legal_ai
POSTGRES_DB=legal_ai
POSTGRES_PORT=5432
